/* VARIABLE */

/* Palette */
$primary-color: #b2c136;
$secondary-color: #5cb2e4;
$secondary-color-middle: #a0cbe3;
$terciary-color: #f5e356;
$background-menu-mobile: #f7f9eb;
$paragraph-color: #010101;
$spotlight-color: #7b7b7b;
$background: #ffffff;
$green-background: rgba(178, 193, 54, 0.1);
$tagParagraph: #121629;
$cardTitle-color: #373737;

/* Font Sizes */
$text-heading1: clamp(2.3rem, calc(3.8vw + 0.17rem), 3.8rem);//clamp(3.125rem, calc(3.8vw + 0.17rem), 3.8rem);
$text-heading2: clamp(2.5rem, calc(3.1vw + 0.1rem), 4rem);
$text-heading3: clamp(2rem, calc(2vw + 0.1rem), 2.4rem);
$text-heading4: clamp(1.6rem, calc(2vw + 0.1rem), 2.5rem);
$text-heading5: clamp(1.28rem, calc(1.5vw + 0.12rem), 2rem);
$text-paragraph: clamp(1.4rem, calc(1.45vw + 0.26rem), 1.8rem);
$text-anchor: clamp(1.7rem, calc(2vw + 0.1rem), 2.4rem);
$text-cards-title: clamp(1.6rem, calc(2vw + 0.1rem), 1.8rem);
$text-secondary: 1.6em;
$text-terciary: 1.2em;

/* Spacing */
$sp-xxxl: 12rem;
$sp-columnGapPages: 4.2rem;
$sp-xxl: 8rem;
$sp-xl: 5rem;
$sp-lg: 3.2rem;
$sp-md: 1.6rem;
$sp-sm: 0.8rem;
$sp-xs: 0.5rem;
