.howToBorder {
  padding: $sp-xxxl $sp-xl;
  width: 100%;
  .options {
    &__item {
      font-size: $text-anchor;
      color: $secondary-color;
      border-bottom: 3px solid;
    }
  }
  .cardsToSend {
    @include cards(43em, 7.4rem);
  }
  .cardsToReceive {
    @include cards(50em, 14rem);
  }
}
