.banner {
  padding: $sp-xxxl $sp-xl $sp-lg; //con bt mejorar
  position: relative;
  width: 100%;
  //height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  .heroImg-container {
    animation: bobble 2s infinite;
  }
}
