.banner {
  padding: $sp-xxxl $sp-xl $sp-lg;
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  .heroImg-container {
    animation: bobble 8s infinite;
  }
  .language-hint {
    width: 120px;
    height: 36px;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $primary-color;
    color: $paragraph-color;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tada-icon:hover {
      animation: scale-up 0.8s linear both;
    }
    label {
      @include paragraph($paragraph-color);
      font-weight: 700;
      font-size: 1.8rem;
      cursor: pointer;
    }
    
  }
}

