.meetBorder {
  padding: $sp-xxl $sp-xl;
  background-color: $green-background;
  &__container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    h2 {
      max-width: 57rem;
    }
    .shipping-container,
    .starts-container,
    .pulse-container,
    .gift-container {
      opacity: 0;
    }
    .shippingIn {
      opacity: 1;
      animation: shipping 3.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .startsIn {
      opacity: 1;
      animation: fade-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }

    .pulseIn {
      opacity: 1;
      animation: pulse 4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .giftIn {
      opacity: 1;
      animation: gift 3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    p {
      @include paragraph(rgba(0, 0, 0, 0.8));
      max-width: 60rem;
    }
  }
}
